body {
  background-color: #202020;
}
body.kachelFocus {
  background-color: #333;
}
#main {
  background-color: #202020;
}
#main.kachelFocus {
  background-color: #222;
}
.sysinfo_load_bgr {
  fill: #400;
}
.sysinfo_load_sys {
  fill: #f80;
}
.sysinfo_load_usr {
  fill: #ff0;
}
.sysinfo_mem_bgr {
  fill: #008;
}
.sysinfo_mem_used {
  fill: #22f;
}
.sysinfo_mem_active {
  fill: #88f;
}
.sysinfo_net_bgr {
  fill: #030;
}
.sysinfo_net_recv {
  fill: #080;
}
.sysinfo_net_send {
  fill: #0a0;
}
.sysinfo_disk_bgr {
  fill: #282828;
}
.sysinfo_disk_read {
  fill: #666;
}
.sysinfo_disk_write {
  fill: #aaa;
}
.menuItem {
  color: #666;
  background-color: #222;
}
.menuItem.selected {
  color: #999;
}
.menu:focus .menuItem.selected {
  color: #fff;
}
.popup {
  background-color: #222;
}
.popupWindow {
  background-color: #222;
}
.popupItem {
  color: #666;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #222;
}
.popupItem.selected {
  color: #fff;
}
.popupItem.selected .popupCombo {
  color: #666;
}
.popupItem.separator {
  border-top: 1px solid #333;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #222;
}
.popupCombo {
  color: #333;
}
