body.kachelFocus {
  background-color: #444;
}
#main {
  background: #181818;
}
#main.kachelFocus {
  background-color: #222;
}
.menuItem {
  color: #666;
  background-color: #222;
}
.menuItem.selected {
  color: #999;
}
.menu:focus .menuItem.selected {
  color: #fff;
}
.popup {
  background-color: #222;
}
.popupWindow {
  background-color: #222;
}
.popupItem {
  color: #666;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #222;
}
.popupItem.selected {
  color: #fff;
}
.popupItem.selected .popupCombo {
  color: #666;
}
.popupItem.separator {
  border-top: 1px solid #333;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #222;
}
.popupCombo {
  color: #333;
}
::-webkit-scrollbar-corner {
  background-color: #222;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b00;
}
