body {
  background-color: #202020;
  border-top-color: #282828;
  border-left-color: #282828;
  border-right-color: #181818;
  border-bottom-color: #181818;
}
body.mojave {
  border-top-color: #111;
}
body.kachelHover {
  border-top-color: #333;
  background-color: #222;
  border-left-color: #333;
  border-right-color: #111;
  border-bottom-color: #111;
}
body.kachelFocus {
  border-top-color: #555;
  border-left-color: #555;
  border-right-color: #000;
  border-bottom-color: #000;
}
body:active {
  border-top-color: #000;
  border-left-color: #000;
  border-right-color: #444;
  border-bottom-color: #444;
}
#main {
  background-color: #202020;
}
body.kachelHover #main {
  background-color: #222;
}
.sysdish_mem_bgr {
  fill: #2b2b2b;
}
.sysdish_mem_used {
  fill: #22f;
}
.sysdish_mem_active {
  fill: #88f;
}
.sysdish_load_bgr {
  fill: #202020;
}
.sysdish_load_sys {
  fill: #f80;
}
.sysdish_load_usr {
  fill: #ff0;
}
.sysdish_net_bgr {
  fill: #222;
}
.sysdish_net_recv {
  fill: #080;
}
.sysdish_net_send {
  fill: #0a0;
}
.sysdish_disk_bgr {
  fill: #242424;
}
.sysdish_disk_read {
  fill: #88f;
}
.sysdish_disk_write {
  fill: #22f;
}
.face {
  stroke: #333;
  fill: #222;
}
.major {
  stroke: #333;
}
.hour {
  stroke: #f80;
}
.minute {
  stroke: #f00;
}
.second {
  stroke: #08f;
}
.alarm-hour {
  color: #f80;
}
.alarm-minute {
  color: #08f;
}
.alarm-second {
  color: #333;
}
.menuItem {
  color: #666;
  background-color: #222;
}
.menuItem.selected {
  color: #999;
}
.menu:focus .menuItem.selected {
  color: #fff;
}
.popup {
  background-color: #222;
}
.popupWindow {
  background-color: #222;
}
.popupItem {
  color: #666;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #222;
}
.popupItem.selected {
  color: #fff;
}
.popupItem.selected .popupCombo {
  color: #666;
}
.popupItem.separator {
  border-top: 1px solid #333;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #222;
}
.popupCombo {
  color: #333;
}
