* {
  outline-width: 0;
  line-height: 1;
  box-sizing: border-box;
}
body {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: 0;
  border-style: solid;
  border-radius: 4.2px;
  border-width: 0.5px;
  box-sizing: border-box;
  font-family: fontMono;
  font-size: 15px;
  overflow: hidden;
  -webkit-user-select: none;
}
#main {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  overflow: hidden;
  pointer-events: all;
  display: flex;
}
#main.noFrame {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 4.2px;
}
svg {
  display: block;
}
.histCanvas {
  position: absolute;
}
.alarm-digits {
  padding-top: 5%;
  position: relative;
  left: 50%;
  line-height: 1;
  transform: translateX(-50%);
  text-align: center;
}
.alarm-hour,
.alarm-minute {
  display: inline-block;
  font-size: 32vh;
  font-family: "Helvetica", "Arial";
}
.alarm-minute:before {
  content: ':';
  padding-right: 7%;
}
.alarm-second {
  align: center;
  display: block;
  font-size: 55vh;
  font-family: "Helvetica", "Arial";
}
.volume,
.clock,
.alarm,
.chain {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.trashDot {
  fill: #080;
}
.face {
  stroke-width: 2;
}
.volmrk,
.minmrk {
  stroke-linecap: round;
  stroke-width: 2;
}
.hour {
  stroke-linecap: round;
  stroke-width: 3;
}
.minute {
  stroke-linecap: round;
  stroke-width: 2;
}
.second {
  stroke-linecap: round;
  stroke-width: 1;
}
.calendarMonth {
  position: absolute;
  top: 21.5%;
  left: 32%;
  font-size: 9px;
  line-height: 1;
  transform: rotate(-10deg);
  color: #fff;
  background-color: #e8564e;
}
.kachelSize1 .calendarMonth {
  font-size: 4px;
}
.kachelSize2 .calendarMonth {
  font-size: 6px;
}
.kachelSize3 .calendarMonth {
  font-size: 9px;
}
.kachelSize4 .calendarMonth {
  font-size: 13px;
}
.kachelSize5 .calendarMonth {
  font-size: 18px;
}
.kachelSize6 .calendarMonth {
  font-size: 27px;
}
.calendarDay {
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: 20px;
  line-height: 1;
  transform: rotate(-10deg);
  color: #000;
  background-color: #f8f8f8;
}
.kachelSize1 .calendarDay {
  font-size: 9px;
}
.kachelSize2 .calendarDay {
  font-size: 14px;
}
.kachelSize3 .calendarDay {
  font-size: 20px;
}
.kachelSize4 .calendarDay {
  font-size: 30px;
}
.kachelSize5 .calendarDay {
  font-size: 42px;
}
.kachelSize6 .calendarDay {
  font-size: 62px;
}
.kachelImg {
  margin: auto;
  width: 70%;
  height: 70%;
  cursor: pointer;
}
.kachelImg.inactive {
  opacity: 0.2;
}
.applicon {
  margin: auto;
  width: 80%;
  height: 80%;
  cursor: pointer;
}
.annyicon {
  cursor: pointer;
}
.appname {
  position: absolute;
  text-align: center;
}
.appldot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
}
.appldot .applcircle {
  stroke-width: 2;
  stroke: url("#appldotstroke");
}
.foldericon {
  margin-top: 5%;
}
.foldername {
  position: absolute;
  font-size: 15vh;
  font-family: Bahnschrift Light, Helvetica Neue, Ebrima, Varela Round, Helvetica, Arial;
  width: 100%;
  bottom: 2vh;
  text-align: center;
  color: #fff;
}
.button {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.button img {
  display: block;
  margin-top: 15%;
  margin-left: 15%;
  width: 70%;
  height: 70%;
}
.button.dark {
  opacity: 0.3;
}
.grid2x2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100%;
}
.grid2x2_11,
.grid2x2_12,
.grid2x2_21,
.grid2x2_22 {
  margin: auto;
  width: 80%;
  height: 80%;
}
.grid2x2_11 {
  grid-column: 1;
  grid-row: 1;
}
.grid2x2_12 {
  grid-column: 2;
  grid-row: 1;
}
.grid2x2_21 {
  grid-column: 1;
  grid-row: 2;
}
.grid2x2_22 {
  grid-column: 2;
  grid-row: 2;
}
.grid3x3 {
  display: grid;
  grid-template-columns: 33% 33%;
  grid-template-rows: 33% 33%;
  width: 100%;
  height: 100%;
}
.grid3x3_11 {
  grid-column: 1;
  grid-row: 1;
}
.grid3x3_12 {
  grid-column: 2;
  grid-row: 1;
}
.grid3x3_13 {
  grid-column: 3;
  grid-row: 1;
}
.grid3x3_21 {
  grid-column: 1;
  grid-row: 2;
}
.grid3x3_22 {
  grid-column: 2;
  grid-row: 2;
}
.grid3x3_23 {
  grid-column: 3;
  grid-row: 2;
}
.grid3x3_31 {
  grid-column: 1;
  grid-row: 3;
}
.grid3x3_32 {
  grid-column: 2;
  grid-row: 3;
}
.grid3x3_33 {
  grid-column: 3;
  grid-row: 3;
}
.menu {
  height: titlebarHeight;
  pointer-events: auto;
  -webkit-app-region: drag;
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}
.menuItem {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  display: inline-block;
  height: titlebarHeight;
  overflow: visible;
}
.popup {
  z-index: 9999;
  position: absolute;
  border-radius: 3px;
  font-size: titlebarFontSize;
  font-family: titlebarFont;
}
.popup.titlemenu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.popupItem {
  padding: 2px;
  padding-left: 6px;
  padding-right: 76px;
  cursor: pointer;
}
.popupItem.separator {
  padding: 0;
  cursor: default;
  border: 0;
  height: 0;
  margin-top: 6px;
  margin-bottom: 6px;
}
.popupItem:last-child {
  padding-bottom: 3px;
}
.popupItem:first-child {
  padding-top: 3px;
}
.popupCombo {
  pointer-events: none;
  position: absolute;
  right: 6px;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar {
  height: 3px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
