 
// 0000000    00000000   000   0000000   000   000  000000000  
// 000   000  000   000  000  000        000   000     000     
// 0000000    0000000    000  000  0000  000000000     000     
// 000   000  000   000  000  000   000  000   000     000     
// 0000000    000   000  000   0000000   000   000     000     

bgColor             = #fff
frameFocusColor     = #ddd
focusColor          = #fff
textBlurColor       = #444
textActiveColor     = #222
textFocusColor      = #000

body
    background-color     bgColor

    border-top           1px solid #f8f8f8
    border-left          1px solid #f0f0f0
    border-right         1px solid #e8e8e8
    border-bottom        1px solid #e0e0e0
    
    &.kachelFocus
        border-top           1px solid #333
        border-left          1px solid #222
        border-right         1px solid #111
        border-bottom        1px solid #000
    
    &:active
        border-top           1px solid #999
        border-left          1px solid #bbb
        border-right         1px solid #ccc
        border-bottom        1px solid #eee

#main
    background           bgColor
        
//  0000000  000   000   0000000  000  000   000  00000000   0000000   
// 000        000 000   000       000  0000  000  000       000   000  
// 0000000     00000    0000000   000  000 0 000  000000    000   000  
//      000     000          000  000  000  0000  000       000   000  
// 0000000      000     0000000   000  000   000  000        0000000   

.sysinfo_load_bgr
    fill                 #fee
.sysinfo_load_sys
    fill                 #f80
.sysinfo_load_usr
    fill                 #ff0
    
.sysinfo_mem_bgr 
    fill                 #eef
.sysinfo_mem_used 
    fill                 #22f
.sysinfo_mem_active 
    fill                 #88f
    
.sysinfo_net_bgr
    fill                 #efe
.sysinfo_net_recv
    fill                 #080
.sysinfo_net_send
    fill                 #0a0
    
.sysinfo_disk_bgr
    fill                 #eee
.sysinfo_disk_read
    fill                 #666
.sysinfo_disk_write
    fill                 #aaa
    
//  0000000  000       0000000    0000000  000   000    
// 000       000      000   000  000       000  000     
// 000       000      000   000  000       0000000      
// 000       000      000   000  000       000  000     
//  0000000  0000000   0000000    0000000  000   000    

.face
    stroke              #eee 
    fill                #fff
    
.major
    stroke              #eee  
    
.hour   
    stroke              #000 
    
.minute 
    stroke              #888
    
.second 
    stroke              #ddd
    
        