 
// 0000000    00000000   000   0000000   000   000  000000000  
// 000   000  000   000  000  000        000   000     000     
// 0000000    0000000    000  000  0000  000000000     000     
// 000   000  000   000  000  000   000  000   000     000     
// 0000000    000   000  000   0000000   000   000     000     

bgColor             = #ccc
bgHover             = #ddd
bgFocus             = #eee

body
    &:not(.kachelFocus)
        animation-name      noFocusFrame
        animation-duration  0.2s
        
        background-color        bgColor    
    
        border-top           1px solid #d8d8d8
        border-left          1px solid #d0d0d0
        border-right         1px solid #b8b8b8
        border-bottom        1px solid #b0b0b0

        & #main
            background-color    bgColor
            animation-name      noFocusBackground
            animation-duration  0.2s
        
    &.kachelHover
        background-color     bgHover
        border-top           1px solid #eee
        border-left          1px solid #ddd
        border-right         1px solid #b0b0b0
        border-bottom        1px solid #aaa
        & #main
            background-color     bgHover
    
    &.kachelFocus
        animation-name      focusFrame
        animation-duration  0.4s
        background-color    bgFocus
        border-top           1px solid #fff
        border-left          1px solid #eee
        border-right         1px solid #aaa
        border-bottom        1px solid #999
        & #main
            background-color     bgFocus
            animation-name      focusBackground
            animation-duration  0.4s
    &:active
        border-top           1px solid #999
        border-left          1px solid #bbb
        border-right         1px solid #ccc
        border-bottom        1px solid #eee

@keyframes focusFrame
    from  
        background-color    bgColor
        border-top           1px solid #fff
        border-left          1px solid #eee
        border-right         1px solid #aaa
        border-bottom        1px solid #999
    to    
        background-color    bgFocus
        border-top           1px solid #d8d8d8
        border-left          1px solid #d0d0d0
        border-right         1px solid #b8b8b8
        border-bottom        1px solid #b0b0b0
        
@keyframes focusBackground
    from  
        background-color    bgColor
    to    
        background-color    bgFocus

@keyframes noFocusFrame
    from  
        background-color    bgFocus
        border-top           1px solid #d8d8d8
        border-left          1px solid #d0d0d0
        border-right         1px solid #b8b8b8
        border-bottom        1px solid #b0b0b0
    to    
        background-color    bgColor
        border-top           1px solid #fff
        border-left          1px solid #eee
        border-right         1px solid #aaa
        border-bottom        1px solid #999
        
@keyframes noFocusBackground
    from  
        background-color    bgFocus
    to    
        background-color    bgColor
        
#main
    background-color     bgColor
    
//  0000000   00000000   00000000   000      
// 000   000  000   000  000   000  000      
// 000000000  00000000   00000000   000      
// 000   000  000        000        000      
// 000   000  000        000        0000000  

.appldot
    & circle.applcircle
        stroke-width        0 !important
    fill                #c0c0c0    
    &.normal
        fill            #eee
    &.maximized
        fill            #fff
    &.minimized
        fill            #aaa
    &.top
        fill            #ff0
    
//  0000000  000   000   0000000  0000000    000   0000000  000   000  
// 000        000 000   000       000   000  000  000       000   000  
// 0000000     00000    0000000   000   000  000  0000000   000000000  
//      000     000          000  000   000  000       000  000   000  
// 0000000      000     0000000   0000000    000  0000000   000   000  

.sysdish_load_bgr
    fill                 bgColor
.sysdish_load_sys
    fill                 #f80
.sysdish_load_usr
    fill                 #ff0
    
.sysdish_mem_bgr 
    fill                 #bbb
.sysdish_mem_used 
    fill                 #22f
.sysdish_mem_active 
    fill                 #88f
    
.sysdish_net_bgr
    fill                 #c0c0c0
.sysdish_net_recv
    fill                 #080
.sysdish_net_send
    fill                 #0a0
    
.sysdish_disk_bgr
    fill                 #bbb
.sysdish_disk_read
    fill                 #666
.sysdish_disk_write
    fill                 #aaa
    
//  0000000  000       0000000    0000000  000   000    
// 000       000      000   000  000       000  000     
// 000       000      000   000  000       0000000      
// 000       000      000   000  000       000  000     
//  0000000  0000000   0000000    0000000  000   000    

.face
    stroke              #aaa 
    fill                #fff
    
.minmrk
    stroke              #aaa 
    
.hour   
    stroke              #000 
    
.minute 
    stroke              #888
    
.second 
    stroke              #ddd
    
// 000   000   0000000   000      000   000  00     00  00000000    
// 000   000  000   000  000      000   000  000   000  000         
//  000 000   000   000  000      000   000  000000000  0000000     
//    000     000   000  000      000   000  000 0 000  000         
//     0       0000000   0000000   0000000   000   000  00000000    
    
.knob
    fill                #eee

.volmrk
    stroke              #bbb

.voldot
    fill                #666
    &.mute 
        fill            #ccc
    
        