
// 0000000     0000000   00000000   000   000  
// 000   000  000   000  000   000  000  000   
// 000   000  000000000  0000000    0000000    
// 000   000  000   000  000   000  000  000   
// 0000000    000   000  000   000  000   000  

bgColor             = #202020
bgHover             = #222
frameColor          = #222
scrollHoverColor    = #b00
titleRedColor       = #f00
titleColor          = #333
scrollColor         = #444
textBlurColor       = #666
textActiveColor     = #999
textFocusColor      = #fff

body
    background-color        bgColor

    border-top-color        #282828 // #111
    &.mojave
        border-top-color    #111
    border-left-color       #282828
    border-right-color      #181818
    border-bottom-color     #181818

    &.kachelHover
        border-top-color    #333
        background-color    bgHover
        border-left-color   #333
        border-right-color  #111
        border-bottom-color #111
    
    &.kachelFocus
        border-top-color    #555
        border-left-color   #555
        border-right-color  #000
        border-bottom-color #000
    
    &:active
        border-top-color    #000
        border-left-color   #000
        border-right-color  #444
        border-bottom-color #444
        
#main
    background-color     bgColor
    
body.kachelHover #main
    background-color     bgHover
    
//  0000000  000   000   0000000  0000000    000   0000000  000   000  
// 000        000 000   000       000   000  000  000       000   000  
// 0000000     00000    0000000   000   000  000  0000000   000000000  
//      000     000          000  000   000  000       000  000   000  
// 0000000      000     0000000   0000000    000  0000000   000   000  

.sysdish_mem_bgr 
    fill                 #2b2b2b
.sysdish_mem_used 
    fill                 #22f
.sysdish_mem_active 
    fill                 #88f

.sysdish_load_bgr
    fill                 #202020
.sysdish_load_sys
    fill                 #f80
.sysdish_load_usr
    fill                 #ff0
        
.sysdish_net_bgr
    fill                 #222222
.sysdish_net_recv
    fill                 #080
.sysdish_net_send
    fill                 #0a0
    
.sysdish_disk_bgr
    fill                 #242424
.sysdish_disk_read
    fill                 #88f //#666
.sysdish_disk_write
    fill                 #22f //#444
    
//  0000000  000       0000000    0000000  000   000    
// 000       000      000   000  000       000  000     
// 000       000      000   000  000       0000000      
// 000       000      000   000  000       000  000     
//  0000000  0000000   0000000    0000000  000   000    

.face
    stroke              #333
    fill                #222
    
.major
    stroke              #333
    
.hour   
    stroke              #f80 //#888
.minute 
    stroke              #f00 //#555
.second 
    stroke              #08f //#333
    
.alarm-hour
    color               #f80
.alarm-minute
    color               #08f
.alarm-second
    color               #333 //#08f
    
    
// 00     00  00000000  000   000  000   000  
// 000   000  000       0000  000  000   000  
// 000000000  0000000   000 0 000  000   000  
// 000 0 000  000       000  0000  000   000  
// 000   000  00000000  000   000   0000000   
            
.menuItem
    color               textBlurColor
    background-color    frameColor
    
.menuItem.selected
    color               textActiveColor
    
.menu:focus .menuItem.selected
    color               textFocusColor
    
// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    background-color    frameColor

.popupWindow
    background-color    frameColor

.popupItem
    color               textBlurColor
    &:not(:last-child)
        border-bottom   1px solid frameColor
    &.selected
        color           textFocusColor
        & .popupCombo
            color       textBlurColor
    &.separator
        border-top      1px solid titleColor
    &:not(:last-child)
        border-bottom   1px solid frameColor

.popupCombo
    color               titleColor
    
    

    