
// 0000000     0000000   00000000   000   000  
// 000   000  000   000  000   000  000  000   
// 000   000  000000000  0000000    0000000    
// 000   000  000   000  000   000  000  000   
// 0000000    000   000  000   000  000   000  

bgColor             = #202020
bgHover             = #222
bgFocus             = #282828
frameColor          = #222
scrollHoverColor    = #b00
titleRedColor       = #f00
titleColor          = #333
scrollColor         = #444
textBlurColor       = #666
textActiveColor     = #999
textFocusColor      = #fff

body
    &:not(.kachelFocus)
        animation-name      noFocusFrame
        animation-duration  0.2s
        
        background-color        bgColor    
        border-top-color        #282828
        &.mojave
            border-top-color    #111
        border-left-color       #282828
        border-right-color      #181818
        border-bottom-color     #181818
        
        & #main:not(.noFrame)
            background-color    bgColor
            animation-name      noFocusBackground
            animation-duration  0.2s
    
    &.kachelHover
        background-color    bgHover
        border-top-color    #333
        border-left-color   #333
        border-right-color  #111
        border-bottom-color #111
        & #main:not(.noFrame)
            background-color     bgHover
    
    &.kachelFocus
        animation-name      focusFrame
        animation-duration  0.4s
        background-color    bgFocus
        border-top-color    #555
        border-left-color   #555
        border-right-color  #000
        border-bottom-color #000
        & #main:not(.noFrame)
            background-color    bgFocus
            animation-name      focusBackground
            animation-duration  0.4s
                
@keyframes focusFrame
    from  
        background-color    bgColor
        border-top-color    #282828
        border-left-color   #282828
        border-right-color  #181818
        border-bottom-color #181818
    to    
        background-color    bgFocus
        border-top-color    #555
        border-left-color   #555
        border-right-color  #000
        border-bottom-color #000
        
@keyframes focusBackground
    from  
        background-color    bgColor
    to    
        background-color    bgFocus

@keyframes noFocusFrame
    from  
        background-color    bgFocus
        border-top-color    #555
        border-left-color   #555
        border-right-color  #000
        border-bottom-color #000
    to    
        background-color    bgColor
        border-top-color    #282828
        border-left-color   #282828
        border-right-color  #181818
        border-bottom-color #181818
        
@keyframes noFocusBackground
    from  
        background-color    bgFocus
    to    
        background-color    bgColor
        
#main
    background-color     bgColor
    
.button
    &:hover
        background-color bgHover
    &:active
        background-color bgFocus
    
.appname
    color               #ddd
        
//  0000000   00000000   00000000   000      
// 000   000  000   000  000   000  000      
// 000000000  00000000   00000000   000      
// 000   000  000        000        000      
// 000   000  000        000        0000000  

.appldot
    fill                #202020    
    &.normal
        fill            #333
    &.maximized
        fill            #555
    &.minimized
        fill            #181818
    &.top
        fill            #f80
    
.chain
    fill                bgColor
        
//  0000000  000   000   0000000  0000000    000   0000000  000   000  
// 000        000 000   000       000   000  000  000       000   000  
// 0000000     00000    0000000   000   000  000  0000000   000000000  
//      000     000          000  000   000  000       000  000   000  
// 0000000      000     0000000   0000000    000  0000000   000   000  

.sysdish_mem_bgr 
    fill                 #222222
.sysdish_mem_used 
    fill                 #22f
.sysdish_mem_active 
    fill                 #88f

.sysdish_load_bgr
    fill                 #202020
.sysdish_load_sys
    fill                 #f80
.sysdish_load_usr
    fill                 #ff0
        
.sysdish_net_bgr
    fill                 #222222
.sysdish_net_recv
    fill                 #080
.sysdish_net_send
    fill                 #0a0
    
.sysdish_disk_bgr
    fill                 #242424
.sysdish_disk_read
    fill                 #88f
.sysdish_disk_write
    fill                 #22f
    
//  0000000  000       0000000    0000000  000   000    
// 000       000      000   000  000       000  000     
// 000       000      000   000  000       0000000      
// 000       000      000   000  000       000  000     
//  0000000  0000000   0000000    0000000  000   000    

.face
    stroke              #333
    fill                #222
    
.minmrk
    stroke              #333
    
.hour   
    stroke              #f80
.minute 
    stroke              #f00
.second 
    stroke              #08f
    
//  0000000   000       0000000   00000000   00     00  
// 000   000  000      000   000  000   000  000   000  
// 000000000  000      000000000  0000000    000000000  
// 000   000  000      000   000  000   000  000 0 000  
// 000   000  0000000  000   000  000   000  000   000  

.alarm-hour
    color               #f80
.alarm-minute
    color               #08f
    &:before
        color           #333
.alarm-second
    color               #333

// 000   000   0000000   000      000   000  00     00  00000000    
// 000   000  000   000  000      000   000  000   000  000         
//  000 000   000   000  000      000   000  000000000  0000000     
//    000     000   000  000      000   000  000 0 000  000         
//     0       0000000   0000000   0000000   000   000  00000000    
    
.knob
    fill                #1c1c1c

.volmrk
    stroke              #333

.voldot
    fill                #888
    &.mute 
        fill            #222
    
// 00     00  00000000  000   000  000   000  
// 000   000  000       0000  000  000   000  
// 000000000  0000000   000 0 000  000   000  
// 000 0 000  000       000  0000  000   000  
// 000   000  00000000  000   000   0000000   
            
.menuItem
    color               textBlurColor
    background-color    frameColor
    
.menuItem.selected
    color               textActiveColor
    
.menu:focus .menuItem.selected
    color               textFocusColor
    
// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    background-color    frameColor

.popupWindow
    background-color    frameColor

.popupItem
    color               textBlurColor
    &:not(:last-child)
        border-bottom   1px solid frameColor
    &.selected
        color           textFocusColor
        & .popupCombo
            color       textBlurColor
    &.separator
        border-top      1px solid titleColor
    &:not(:last-child)
        border-bottom   1px solid frameColor

.popupCombo
    color               titleColor
    
    

    