
// 0000000     0000000   00000000   000   000  
// 000   000  000   000  000   000  000  000   
// 000   000  000000000  0000000    0000000    
// 000   000  000   000  000   000  000  000   
// 0000000    000   000  000   000  000   000  

bgColor             = #181818
frameColor          = #222
scrollHoverColor    = #b00
titleRedColor       = #f00
titleColor          = #333
scrollColor         = #444
textBlurColor       = #666
textActiveColor     = #999
textFocusColor      = #fff

body
    background-color     bgColor
    &.kachelFocus
        background-color titleColor

#main
    background-color     bgColor
    &.kachelFocus
        background-color frameColor
    
//  0000000  000   000   0000000  000  000   000  00000000   0000000   
// 000        000 000   000       000  0000  000  000       000   000  
// 0000000     00000    0000000   000  000 0 000  000000    000   000  
//      000     000          000  000  000  0000  000       000   000  
// 0000000      000     0000000   000  000   000  000        0000000   

.sysinfo_load_bgr
    fill                 #400
.sysinfo_load_sys
    fill                 #f80
.sysinfo_load_usr
    fill                 #ff0
    
.sysinfo_mem_bgr 
    fill                 #008
.sysinfo_mem_used 
    fill                 #22f
.sysinfo_mem_active 
    fill                 #88f
    
.sysinfo_net_bgr
    fill                 #030
.sysinfo_net_recv
    fill                 #080
.sysinfo_net_send
    fill                 #0a0
    
.sysinfo_disk_bgr
    fill                 #282828
.sysinfo_disk_read
    fill                 #666
.sysinfo_disk_write
    fill                 #aaa
    
// 00     00  00000000  000   000  000   000  
// 000   000  000       0000  000  000   000  
// 000000000  0000000   000 0 000  000   000  
// 000 0 000  000       000  0000  000   000  
// 000   000  00000000  000   000   0000000   
            
.menuItem
    color               textBlurColor
    background-color    frameColor
    
.menuItem.selected
    color               textActiveColor
    
.menu:focus .menuItem.selected
    color               textFocusColor
    
// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    background-color    frameColor

.popupWindow
    background-color    frameColor

.popupItem
    color               textBlurColor
    &:not(:last-child)
        border-bottom   1px solid frameColor
    &.selected
        color           textFocusColor
        & .popupCombo
            color       textBlurColor
    &.separator
        border-top      1px solid titleColor
    &:not(:last-child)
        border-bottom   1px solid frameColor

.popupCombo
    color               titleColor
    
    

    